@import "../../sass/index.scss";

.carousel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  height: 415px;

  .carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
    height: 415px;

    .carousel-item {
      flex: 0 0 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .carrousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;

    &.prev {
      left: 0;
    }

    &.next {
      right: 0;
    }

    @media screen and (max-width: 672px) {
      height: 54px;
      img {
        width: 50%;
      }

      .carousel-item img {
        height: 90%;
      }
    }
  }

  .numberSlide {
    position: absolute;
    right: 50%;
    bottom: 30%;
    color: $color-white;
  }

  .slideCount {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    color: $color-white;
    font-weight: 500;
    font-size: clamp(14px, 2vw, 18px);
  }
}
